# Data Processing Pipeline

This notebook processes the raw Stack Overflow 2025 Developer Survey data following the methodology from the Medium article example.

## Steps:
1. Load raw survey data
2. Filter and clean data
3. Feature engineering
4. Encode categorical variables
5. Create stratified train/test splits
6. Save processed datasets

In [1]:
import json
import re
from pathlib import Path
from typing import Optional

import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

# Set paths
RAW_DATA = Path("../../data/raw/stack-overflow-developer-survey-2025-2/survey_results_public.csv")
INTERIM_OUTPUT = Path("../../data/interim/so_2025_clean.csv")
PROCESSED_OUTPUT = Path("../../data/processed/so_2025_model_ready.parquet")
TRAIN_SPLIT_OUTPUT = Path("../../data/processed/so_2025_train.parquet")
TEST_SPLIT_OUTPUT = Path("../../data/processed/so_2025_test.parquet")
FEATURE_METADATA = Path("../../data/processed/so_2025_feature_columns.json")

print("Imports successful!")

Imports successful!

In [2]:
# Configuration constants
USE_COLUMNS = [
    "Country",
    "EdLevel",
    "YearsCode",
    "Employment",
    "DevType",
    "ConvertedCompYearly",
    "RemoteWork",
    "Currency",
]

NA_VALUES = ["NA", "Other (please specify):"]

EDUCATION_CATEGORIES = {
    "Less than secondary": [
        "Primary/elementary school",
        "Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)",
    ],
    "Some college": [
        "Some college/university study without earning a degree",
        "Associate degree (A.A., A.S., etc.)",
        "Professional degree (JD, MD, Ph.D, Ed.D, etc.)",
    ],
    "Bachelor's degree": ["Bachelor's degree (B.A., B.S., B.Eng., etc.)"],
    "Master's degree": ["Master's degree (M.A., M.S., M.Eng., MBA, etc.)"],
    "Post-grad": ["Doctoral degree (Ph.D)"],
    "Self-taught/other": [
        "Something else",
        "I prefer not to say",
    ],
}

REMOTE_CATEGORIES = {
    "Remote": "Remote",
    "Hybrid (some in-person, leans heavy to flexibility)": "Hybrid-Flexible",
    "Hybrid (some remote, leans heavy to in-person)": "Hybrid-InPerson",
    "Your choice (very flexible, you can come in when you want or just as needed)": "Hybrid-Choice",
    "In-person": "In-person",
}

EMPLOYMENT_ALLOWED = {
    "Employed",
    "Independent contractor, freelancer, or self-employed",
}

print("Configuration loaded!")

Configuration loaded!

In [3]:
# Helper functions
def simplify_edlevel(value: Optional[str]) -> Optional[str]:
    if pd.isna(value):
        return None
    for label, raw_values in EDUCATION_CATEGORIES.items():
        if value in raw_values:
            return label
    return value

def parse_years_code(value: Optional[str]) -> Optional[float]:
    if pd.isna(value):
        return None
    if isinstance(value, (int, float)):
        return float(value)
    value = value.strip()
    if value.startswith("Less than"):
        return 0.5
    if value.startswith("More than"):
        match = re.search(r"(\d+)", value)
        if match:
            return float(match.group(1))
        return None
    try:
        return float(value)
    except ValueError:
        return None

def normalize_devtype(value: Optional[str]) -> Optional[str]:
    if pd.isna(value):
        return None
    return value.split(";")[0].strip()

def normalize_remote(value: Optional[str]) -> Optional[str]:
    if pd.isna(value):
        return None
    return REMOTE_CATEGORIES.get(value, value)

print("Helper functions defined!")

Helper functions defined!

## Step 1: Load Raw Dataset

In [4]:
# Load raw dataset
if not RAW_DATA.exists():
    raise FileNotFoundError(f"Raw dataset not found at {RAW_DATA}")

df_raw = pd.read_csv(RAW_DATA, usecols=USE_COLUMNS, na_values=NA_VALUES)
print(f"Raw dataset loaded: {len(df_raw):,} rows, {len(df_raw.columns)} columns")
print(f"\nColumns: {list(df_raw.columns)}")
print(f"\nFirst few rows:")
df_raw.head()

Raw dataset loaded: 49,123 rows, 8 columns

Columns: ['EdLevel', 'Employment', 'YearsCode', 'DevType', 'RemoteWork', 'Country', 'Currency', 'ConvertedCompYearly']

First few rows:

,EdLevel,Employment,YearsCode,DevType,RemoteWork,Country,Currency,ConvertedCompYearly
0,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Employed,14.0,"Developer, mobile",Remote,Ukraine,EUR European Euro,61256.0
1,"Associate degree (A.A., A.S., etc.)",Employed,10.0,"Developer, back-end","Hybrid (some in-person, leans heavy to flexibi...",Netherlands,EUR European Euro,104413.0
2,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Independent contractor, freelancer, or self-em...",12.0,"Developer, front-end",NaN,Ukraine,UAH Ukrainian hryvnia,53061.0
3,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed,5.0,"Developer, back-end",Remote,Ukraine,EUR European Euro,36197.0
4,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Independent contractor, freelancer, or self-em...",22.0,Engineering manager,NaN,Ukraine,USD United States dollar,60000.0

In [5]:
# Check missing values
print("Missing values per column:")
print(df_raw.isna().sum())
print(f"\nMissing value percentages:")
print((df_raw.isna().sum() / len(df_raw) * 100).round(2))

Missing values per column:
EdLevel                 1737
Employment               846
YearsCode               6123
DevType                 7310
RemoteWork             15376
Country                13721
Currency               13721
ConvertedCompYearly    25195
dtype: int64

Missing value percentages:
EdLevel                 3.54
Employment              1.72
YearsCode              12.46
DevType                14.88
RemoteWork             31.30
Country                27.93
Currency               27.93
ConvertedCompYearly    51.29
dtype: float64

## Step 2: Clean Dataset

In [6]:
# Start cleaning
df_clean = df_raw.copy()

# Filter by employment status
print(f"Before employment filter: {len(df_clean):,} rows")
df_clean = df_clean[df_clean["Employment"].isin(EMPLOYMENT_ALLOWED)]
print(f"After employment filter: {len(df_clean):,} rows")

# Apply transformations
df_clean["EdLevelSimplified"] = df_clean["EdLevel"].apply(simplify_edlevel)
df_clean["YearsCodeNum"] = df_clean["YearsCode"].apply(parse_years_code)
df_clean["DevTypePrimary"] = df_clean["DevType"].apply(normalize_devtype)
df_clean["RemoteCategory"] = df_clean["RemoteWork"].apply(normalize_remote)

# Rename salary column
df_clean = df_clean.rename(columns={"ConvertedCompYearly": "CompYearlyUSD"})

print(f"\nAfter transformations: {len(df_clean):,} rows")

Before employment filter: 49,123 rows
After employment filter: 40,409 rows

After transformations: 40,409 rows

In [7]:
# Drop rows with missing critical values
print(f"Before dropping NA: {len(df_clean):,} rows")
df_clean = df_clean.dropna(
    subset=[
        "Country",
        "CompYearlyUSD",
        "EdLevelSimplified",
        "YearsCodeNum",
        "DevTypePrimary",
    ]
)
print(f"After dropping NA: {len(df_clean):,} rows")

# Filter salary range (USD 1k - 600k)
print(f"\nBefore salary filter: {len(df_clean):,} rows")
df_clean = df_clean[(df_clean["CompYearlyUSD"] >= 1_000) & (df_clean["CompYearlyUSD"] <= 600_000)]
print(f"After salary filter: {len(df_clean):,} rows")

Before dropping NA: 40,409 rows
After dropping NA: 21,506 rows

Before salary filter: 21,506 rows
After salary filter: 20,907 rows

In [8]:
# Select final columns and add log-transformed salary
selected_columns = [
    "CompYearlyUSD",
    "Country",
    "EdLevelSimplified",
    "YearsCodeNum",
    "Employment",
    "DevTypePrimary",
    "RemoteCategory",
]

df_clean = df_clean[selected_columns].reset_index(drop=True)
df_clean["SalaryLog10"] = np.log10(df_clean["CompYearlyUSD"])

print(f"Final clean dataset: {len(df_clean):,} rows, {len(df_clean.columns)} columns")
print(f"\nColumns: {list(df_clean.columns)}")
df_clean.head()

Final clean dataset: 20,907 rows, 8 columns

Columns: ['CompYearlyUSD', 'Country', 'EdLevelSimplified', 'YearsCodeNum', 'Employment', 'DevTypePrimary', 'RemoteCategory', 'SalaryLog10']

,CompYearlyUSD,Country,EdLevelSimplified,YearsCodeNum,Employment,DevTypePrimary,RemoteCategory,SalaryLog10
0,61256.0,Ukraine,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",14.0,Employed,"Developer, mobile",Remote,4.787149
1,104413.0,Netherlands,Some college,10.0,Employed,"Developer, back-end",Hybrid-Flexible,5.018755
2,53061.0,Ukraine,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",12.0,"Independent contractor, freelancer, or self-em...","Developer, front-end",None,4.724775
3,36197.0,Ukraine,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",5.0,Employed,"Developer, back-end",Remote,4.558673
4,60000.0,Ukraine,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",22.0,"Independent contractor, freelancer, or self-em...",Engineering manager,None,4.778151

In [9]:
# Save clean dataset
INTERIM_OUTPUT.parent.mkdir(parents=True, exist_ok=True)
df_clean.to_csv(INTERIM_OUTPUT, index=False)
print(f"Clean dataset saved to {INTERIM_OUTPUT}")

Clean dataset saved to ../../data/interim/so_2025_clean.csv

## Step 3: Encode Features

In [10]:
# Prepare features for encoding
feature_cols = [
    "Country",
    "EdLevelSimplified",
    "YearsCodeNum",
    "DevTypePrimary",
    "RemoteCategory",
]

cat_cols = [
    "Country",
    "EdLevelSimplified",
    "DevTypePrimary",
    "RemoteCategory",
]

num_cols = ["YearsCodeNum"]
target = df_clean["CompYearlyUSD"].copy()

# One-hot encode categorical variables
encoded = pd.get_dummies(df_clean[cat_cols], drop_first=True)
encoded[num_cols] = df_clean[num_cols]
encoded = encoded.fillna(0.0)

feature_list = encoded.columns.tolist()

print(f"Encoded features: {len(feature_list)} columns")
print(f"Sample feature names: {feature_list[:10]}")
encoded.head()

Encoded features: 193 columns
Sample feature names: ['Country_Albania', 'Country_Algeria', 'Country_Andorra', 'Country_Angola', 'Country_Argentina', 'Country_Armenia', 'Country_Australia', 'Country_Austria', 'Country_Azerbaijan', 'Country_Bahrain']

,Country_Albania,Country_Algeria,Country_Andorra,Country_Angola,Country_Argentina,Country_Armenia,Country_Australia,Country_Austria,Country_Azerbaijan,Country_Bahrain,...,"DevTypePrimary_Senior executive (C-suite, VP, etc.)",DevTypePrimary_Student,DevTypePrimary_Support engineer or analyst,DevTypePrimary_System administrator,"DevTypePrimary_UX, Research Ops or UI design professional",RemoteCategory_Hybrid-Flexible,RemoteCategory_Hybrid-InPerson,RemoteCategory_In-person,RemoteCategory_Remote,YearsCodeNum
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,14.0
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,10.0
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,12.0
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,5.0
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,22.0

In [11]:
# Create processed dataset with target
processed = encoded.copy()
processed["CompYearlyUSD"] = target

PROCESSED_OUTPUT.parent.mkdir(parents=True, exist_ok=True)
processed.to_parquet(PROCESSED_OUTPUT, index=False)

# Save feature metadata
FEATURE_METADATA.write_text(json.dumps({"feature_columns": feature_list}, indent=2))

print(f"Encoded dataset saved to {PROCESSED_OUTPUT}")
print(f"Feature metadata saved to {FEATURE_METADATA}")

Encoded dataset saved to ../../data/processed/so_2025_model_ready.parquet
Feature metadata saved to ../../data/processed/so_2025_feature_columns.json

## Step 4: Create Stratified Train/Test Split

For regression problems, we use stratified splitting by binning the target variable to ensure similar salary distributions in train and test sets.

In [12]:
# Create bins for stratified splitting
# Use quantiles to create balanced bins
n_bins = 10
target_binned = pd.qcut(target, q=n_bins, labels=False, duplicates='drop')

print(f"Target distribution across bins:")
print(pd.Series(target_binned).value_counts().sort_index())

# Perform stratified split
X_train, X_test, y_train, y_test = train_test_split(
    encoded,
    target,
    test_size=0.2,
    random_state=450,
    shuffle=True,
    stratify=target_binned  # Stratify by binned target
)

print(f"\nTrain set: {len(X_train):,} samples")
print(f"Test set: {len(X_test):,} samples")
print(f"\nTrain target stats:")
print(y_train.describe())
print(f"\nTest target stats:")
print(y_test.describe())

Target distribution across bins:
CompYearlyUSD
0    2101
1    2092
2    2093
3    2078
4    2090
5    2096
6    2113
7    2110
8    2056
9    2078
Name: count, dtype: int64

Train set: 16,725 samples
Test set: 4,182 samples

Train target stats:
count     16725.000000
mean      94784.835635
std       74520.742118
min        1000.000000
25%       46381.000000
50%       80050.000000
75%      125000.000000
max      600000.000000
Name: CompYearlyUSD, dtype: float64

Test target stats:
count      4182.000000
mean      96210.388331
std       78783.159233
min        1000.000000
25%       45888.250000
50%       80152.000000
75%      125341.750000
max      600000.000000
Name: CompYearlyUSD, dtype: float64

In [13]:
# Create train and test datasets with target
train_split = X_train.copy()
test_split = X_test.copy()
train_split["CompYearlyUSD"] = y_train
test_split["CompYearlyUSD"] = y_test

# Save splits
TRAIN_SPLIT_OUTPUT.parent.mkdir(parents=True, exist_ok=True)
train_split.to_parquet(TRAIN_SPLIT_OUTPUT, index=False)
test_split.to_parquet(TEST_SPLIT_OUTPUT, index=False)

# Also save as CSV for easier access
train_split.to_csv(TRAIN_SPLIT_OUTPUT.with_suffix('.csv'), index=False)
test_split.to_csv(TEST_SPLIT_OUTPUT.with_suffix('.csv'), index=False)

print(f"Train split saved to {TRAIN_SPLIT_OUTPUT}")
print(f"Test split saved to {TEST_SPLIT_OUTPUT}")
print(f"\n✅ Processing complete!")

Train split saved to ../../data/processed/so_2025_train.parquet
Test split saved to ../../data/processed/so_2025_test.parquet

✅ Processing complete!